@font-face {
    font-family: "Inter-Bold";
    src: local("Inter-Bold"), url("../fonts/Inter-Bold.ttf") format("truetype");
    font-weight: bold;
}

.btn {
    border-radius: 8px;
    background-color: black;
    color: white;
    padding: 0.6rem;
    font-size: 0.6rem;
    font-family: Inter-Bold;
}

.contlg {
    width: 0.6rem;
    margin-left: 0.1rem;
}

.logo1 {
    width: 6rem;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div1,
.div2 {
    padding: 1.3rem;
}